#storeImage {
    width: 14vw;
    margin: 0 auto;
    height: 23vh;
} 

#storeCard{
 margin-left: 5vw;
 margin-top: 3vh;
}

#title{
    margin-left: 5vw;
}

#storesInfo{
    text-align: center;
} 

#pagetitle{
    display: flex;
    justify-content: flex-end;
    margin-top: -8vh;
    margin-right: 3vw;
}

#storenote{
    margin-top: 3vh;
}

#addStoreButton{
    color: white;
    background-color: #5254AF !important;
}

#viewstorebutton{
    background-color: #5254AF !important;
    margin-left: 4.5vw;
}