#storeImage {
    width: 14vw;
    margin: 0 auto;
    height: 23vh;
} 

#storeCard{
    margin-left: 2vw;
    margin-top: 2vh;
}

#title{
    margin-left: 5vw;
}

#storesInfo{
    text-align: center;
} 

#pagetitle{
    display: flex;
    justify-content: flex-end;
    margin-top: -8vh;
    margin-right: 3vw;
}

#storenote{
    margin-top: 3vh;
}

#addStoreButton{
    color: white;
    background-color: #5254AF !important;
}

#viewstorebutton{
    background-color: #5254AF !important;
}

#addtofavbutton{
    background-color: #EC9F05 !important;
    margin-top: -3vh;
}

#addtofavbuttonStore{
    background-color: #EC9F05 !important;
    margin-top: 13vh;
}

#storesbuttons{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#cardsContainer{
    display: flex;
    flex-wrap: wrap;
}