.userInfo{
    display: flex;
}

#upload{
    width:200px;
    height: 200px;
}

/* #store-page {
    display: flex;
    flex-direction: column;
}
#storeInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#right-store-page {
    width: 80vw;
}
#left-store-page {
    width: 15vw;
}
#left-store-page-image {
    width: 15vw;
} */
