.slider{
    width: 45%;
    margin-left: 2%;
    float: left;
}

.slider1{
    width: 25%;
    margin-left: 5%;
    float: left;
    margin-top: 3%;
}

.slider2{
    width: 25%;
    margin-left: 5%;
    float: left;
    margin-top: 3%;
}

.slider3{
    width: 25%;
    margin-left: 5%;
    float: left;
    margin-top: 3%;
}


input[type="radio"]{
    display: none;
}

.circle img{
    width:4%;
    margin-left: 1%;
}

#blue :hover{
    border-radius: 50%;
    border: 2px solid skyblue
}

#yellow :hover{
    border-radius: 50%;
    border: 2px solid yellow
}

#orange :hover{
    border-radius: 50%;
    border: 2px solid orange
    
}

#green :hover{
    border-radius: 50%;
    border: 2px solid green
}

#silver :hover{
    border-radius: 50%;
    border: 2px solid silver
}

#red :hover{
    border-radius: 50%;
    border: 2px solid red
}

p{
    margin-top: 2%;
}

h3 ,h4 {
    margin-top: 2%;
}