#header {
    height: 10vh;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
    margin-left: 20vw;
}

.navbar-nav .nav-link {
    margin-right: 1vw;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 25vw;
}

.mr-auto img {
    width: 2vw;
    height: 4vh;
    margin-top: 0.8vw;
}