.plicies{
    article {
        width: 70%;
        border: 1px dashed #017b9f;
        background-color: #b1bace;
        padding: 15px;
        margin: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 22px
      }
      
      p {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        
      }
}

