.receiverl {
  text-align: left;
  margin: 5px 2px;
  background-color: aliceblue;
  display: flex;
  border-radius: 20px;
  padding: 0 15px;
}
.senderl {
  padding: 0 15px;

  text-align: right;
  margin: 5px 2px;
  background-color: #bfffc1;
  border-radius: 20px;
  padding: 0 15px;
}
.receiver {
  /* text-align: left;
  margin: 17px 12px; */
  border-radius: 25px;
  margin: 25px 12px;

  background-color: aliceblue;
  /* display: flex;
  border-radius: 20px;
  padding: 0 15px; */
}
.sender {
  padding: 0 15px;

  border-radius: 25px;

  text-align: right;

  /* padding: 0 15px; */
  margin: 25px 12px;

  /* text-align: right;
  margin: 17px 20px; */
  background-color: #bfffc1;
  /* border-radius: 20px; */
}
.p {
  margin: -15px 80px;
}

.receiverimg {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  margin: 7px 0px;
  margin-right: 10px;
}
.leavebutton{
   margin: 3px 6px !important;
   max-width:50px

}

/* ANOLLA*/

#adminchatcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#admingreyspace{
  margin: 2% 5%;
   max-height: 50%;
   width:65%;
}

#sendbuttonchatclient{
  background-color: #EC9F05 !important;
  margin-left: 1vw !important;
  padding: 1.5vw;
  }