#authcontainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
#authbuttons {
  margin: 4% 0;
}
#or {
  text-align: center;
}
#authbuttons {
  display: flex;
  margin-left:39vw;
  font-weight: bolder !important;
}

/*ANOLLA*/
.form-check-label {
  padding-left:0rem;
}

#loginbutton{
  background-color: #5254AF !important;
}

#authbuttonsgoogle{
  background-color: #EC9F1D !important;
}

#loginbuttonfacebook{
  background-color: #5254AF !important;
}

#signupbutton{
  background-color: #5254AF !important;
}