/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 23%;
  color: white;
} */

.genIcon  {
  padding: 1vw;
  font-size: 1vw;
  width: 3vw;
  text-align: center;
  text-decoration: none;
  margin: 0vw 0.2vw;
  border-radius: 50%;
}

.fb {
  background: #3b5998;
  color: white;
}

.tw {
  background: #55acee;
  color: white;
}

.go {
  background: #dd4b39;
  color: white;
}

.ya {
  background: #430297;
  color: white;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: small;
}

.connect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: small;
}

.socialMedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: small;
}

footer p {
  height: 18vh;
  width: 20vw;
  text-align: center;
}

.socialMedia p {
  margin-top: 5vh;
}

.navbar-expand-lg {
  color: white;
}

li {
  text-decoration: none;
}
