
/* #root {
  margin: 1vh 3vw 0vh;
} */

.col {
  padding: 0 !important;
  margin: 0 !important;
}

/* .row {
  padding: 0 !important;
  margin: 0 !important;
} */

#store-apply-form > * {
  margin: 2vh;
}
input[type="radio"] {
  display: block!important;
  position: initial;
}
body {
  overflow-x: hidden;
}

/* .card {
  min-width: 248px !important;
} */


